@font-face {
   font-family: salvador;
   font-weight: normal;
   src: url(fonts/salvador/Salvador\ PERSONAL\ USE\ ONLY!.ttf);
}

@font-face {
   font-family: wakeboard_studio;
   font-weight: normal;
   src: url(fonts/wakeboard_studio/Wakeboard\ Studio\ Regular.ttf);
}

* {
   padding: 0%;
   margin: 0%;
}

:root {
   --fontePrimaria: salvador;
   --fonteSecundaria: wakeboard_studio;
}

h1{
   font-family: var(--fontePrimaria);
}

p {
   font-family: 'roboto';
}


